.fan{
    position: relative;
    left: 300px;
}

.circle{
    background-color: aqua;
    width: 250px;
    height: 250px;
    border: 15px solid black;
    border-radius: 100%;
}
.inner{
    width: 120px;
    height: 120px;
    border: 5px solid black;
    border-radius: 100%;
    margin-left: 65px;
    margin-top: 60px;
}
.inner2{
    background: black;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 100%;
    margin-left: 35px;
    margin-top: 35px;
    animation-name: blade;
    animation-duration: 0.2s;
    animation-iteration-count: infinite;
    transition: all 0.05s;
}
         .blade1{
          background: black;
          width: 28px;
          height: 90px;
          border: 1px solid black;
          border-bottom-left-radius: 30px;
          margin-top: 40px;
          margin-left: 10px;
          /* display: inline-block; */

         }
         .blade2{
          background: black;
          width: 29px;
          height: 90px;
          border: 1px solid black;
          border-top-left-radius: 30px;
          margin-top: -128px;
         
         }
         .pole{
          background: black;
          width: 30px;
          height: 250px;
          border: 1px solid black;
          margin-left: 128px;
          margin-top: -2px;
         }
         .control{
          background: rgb(10, 10, 10);
          width: 50px;
          height: 80px;
          border: 1px solid black;
          border-radius: 50%;
          margin-left: -10px;
          margin-top: 23px;
         }
         .one{
          background: rgb(212, 11, 11);
          width: 15px;
          height: 15px;
          border: 1px solid red;
          border-radius: 35%;
          margin-left: 15px;
          margin-top: 15px;
         }
         .two{
          background: rgb(212, 11, 11);
          width: 15px;
          height: 15px;
          border: 1px solid red;
          border-radius: 35%;
          margin-left: 15px;
          margin-top: 2px;
         }
         .three{
          background: rgb(212, 11, 11);
          width: 15px;
          height: 15px;
          border: 1px solid red;
          border-radius: 35%;
          margin-left: 15px;
          margin-top: 2px;
         }
         .ankle{
          background: black;
          width: 50px;
          height: 40px;
          border: 1px solid black;
          border-radius: 60%;
          margin-left: -10px;
          margin-top: 50px;
         }
         .stand{
          background: black;
          width: 180px;
          height: 35px;
          border: 1px solid black;
          border-radius: 100%;
          margin-left: 55px;
          margin-top: -1px;
         }

@keyframes blade{
    0%{
        rotate: 0deg;
                
    }
    25%{
        rotate: 90deg;
            transition: all 0.05s;
    }
    50%{
            rotate: 180deg;
            transition: all 0.05s;

        }
        75%{
                rotate: 270deg;
                transition: all 0.05s;
            }
            100%{
                rotate: 0deg;
                transition: 0.05s;
            }
         }